.banner{
        background-color:DodgerBlue;
        width:100%;
        height:100px;
        margin-bottom: 50px;
}

.banner-text{
        text-align:center;
        font-family:"Brush Script MT";
}